<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiderShare">
    <select id="selectQunarByTimeRange" parameterType="java.util.Map" resultType="ParamBean">
        select
        id,
        param_type as paramType,
        param_key as paramKey,
        param_score as paramScore,
        created_time as createdTime
        from qunar_black_param
        where created_time > #{beginTime} and #{endTime} >= created_time and param_type = #{paramType}
    </select>

    <delete id="deleteQunarByTimeRange" parameterType="java.util.Map">
        delete from qunar_black_param where #{endTime} > created_time and param_type = #{paramType}
    </delete>

    <delete id="deleteCtripByTimeRange" parameterType="java.util.Map">
        delete from ctrip_black_ip where #{endTime} > created_time
    </delete>

    <insert id="saveCtripBlackIP" parameterType="com.qunar.mobile.model.CtripIPBean">
        insert into ctrip_black_ip(ip,channel, score,created_time) values(#{ip}, #{channel}, #{score}, #{createdTime})
        on duplicate key update score = #{score}, created_time = #{createdTime}
    </insert>
</mapper>